/* Background blur */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.76);
  z-index: 999;
  backdrop-filter: blur(1px)
}

/* Modal Box */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 560px;
  background: #fff;
  border-radius: 14px;
  padding: 30px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.1);
  animation: fadeIn 0.25s ease;
  z-index: 1000;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -48%); }
  to   { opacity: 1; transform: translate(-50%, -50%); }
}

/* Close button */
.close-icon {
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 18px;
  cursor: pointer;
  background: none;
  border: none;
  opacity: 0.6;
}

/* Headings */
.subtitle {
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
}

.desc {
  display: block;
  text-align: center;
  color: #718096;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Options */
.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option {
  display: flex;
  gap: 15px;
  padding: 20px;
  border: 2px solid #dce7f5;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
  background: #f7fcff;
  
  input {
    cursor: pointer;
  }

  &:hover {
    border-color: #007bff;
    background: #eef8ff;
  }

  &.active {
    border-color: #007bff;
    background: #e6f4ff;
  }

  strong {
    font-size: 15px;
    display: block;
    margin-bottom: 4px;
  }

  span {
    font-size: 13px;
    color: gray;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 20px 0;

  label {
    font-size: 14px;
    font-weight: 600;
  }

  input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    outline: none;

    &:focus {
      border-color: #0a66ff;
    }
  }
}

/* Footer buttons */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 30px;
}

.cancel-btn {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.next-btn {
  padding: 10px 22px;
  border-radius: 8px;
  border: none;
  background: #0a66ff;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;

  &:disabled {
    background: #9bbafc;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: #004cff;
  }
}
